<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Caixa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="entradas">
    <input type="number" name="value" placeholder="0,00" [(ngModel)]="value" id="value">
    <div class="botoes">
      <button class="mais" (click)="alerta('entrada')" >Entrada</button>
      <button class="menos" (click)="alerta('Saida')" >Saida</button>
    </div>
  </div>

</ion-content>
